/* TALI Front-end Styles*/

/* TALI Module - Home Slider*/

.tali-homeslider-front {
	width: 100%;
	border: 1px solid black;
	border-radius: 4px;
	overflow: hidden;
}

/* Homeslider button text is responsive */
.tali-homeslider-front p {
	text-align: center;
	color: #fff;
	line-height: 33px;
	font-size: 100%;
}

@media (min-width: 560px) {
	.tali-homeslider-front p {
		font-size: 150%;
	}
}

/* .tali-homeslider-front */

/* Responsive images */
.tali-homeslider-front_img img {
	width: 100%;
	height: auto;
}

/* bug - make more dynamic */
/* For the buttons that are hovered over to change the image */
.tali-homeslider-front_hoverbox_1, .tali-homeslider-front_hoverbox_2, .tali-homeslider-front_hoverbox_3 {
	width: 33.33333%;
	height: 33px;
	float: left;
	background-image: url(../homeslider/buttons/NewsFlip.png);
	background-repeat: repeat-x;
}

.tali-homeslider-front_hoverbox_1:hover, .tali-homeslider-front_hoverbox_2:hover, .tali-homeslider-front_hoverbox_3:hover {
	background-image: url(../homeslider/buttons/NewsFlipHover.png);
}

/* */

/* TALI Module - News */

/* Recent News */

.tali-personnel-roster-front-page-frame, 
.tali-news-front-page-frame, 
.tali-news-front-index-page-frame {
	height: auto;
	width: 100%;
	border: 1px solid black;
	color: #000;
	background-color: white;
}

.tali-personnel-roster-front-page-frame p,
.tali-news-front-page-frame p, 
.tali-news-front-index-page-frame p {
	padding-left: 5px;
}

.tali-personnel-roster-front-page-frame-title, 
.tali-news-front-page-frame-title, 
.tali-news-front-index-page-frame-title {
	background-color: black;
}

.tali-news-front-title, 
.tali-news-front-index-title {
	display: inline-block;
	margin-top: 0;
	color: #fff;
	padding-left: 5px;
	text-align: left;
	vertical-align: top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 120%;
	margin-bottom: 0;
}

.tali-news-front-author, 
.tali-news-front-index-author { 
	margin-top: 0;
	color: #fff;
	padding-right: 5px;
	text-align: right;
	vertical-align: top; 
	line-height: 16pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	float: right;
	text-align: right;
}

/* Archive on News Page */

.tali-news-front-archive-table {
	vertical-align: center;
	font-size: 100%;
	font-weight: normal;
	font-family: verdana;
	margin-left: auto;
	margin-right: auto;
	width: 96%;
	border: 1px solid black;
	border-collapse: collapse;
	border-color: grey;
	background-color: #d6d6d6;
	margin-bottom: 10px;
	margin-top: 10px;
	color: #000;
	text-align: left;
}

.tali-news-front-archive-table tr, 
.tali-news-front-archive-table th, 
.tali-news-front-archive-table td {
	border: 1px solid black;
	border-collapse: collapse;
	border-color: grey;
}

.tali-news-front-archive-table th {
	background-color: #575551;
	color: #fff;
}

.tali-news-front-archive-table tr:nth-child(even) {
	background-color: #e4e6e8;
}

/* */

/* TALI Module - Personnel - Roster */
.tali-personnel-roster-front-links {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-align: center;
}

.tali-personnel-roster-front-designation {
	text-align: center;
	vertical-align: center;
	font-size: 80%;
	font-weight: normal;
	font-family: verdana;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	border: 1px solid black;
	border-collapse: collapse;
	border-color: grey;
	background-color: #d6d6d6;
}

.tali-personnel-roster-front-designation tr, 
.tali-personnel-roster-front-designation th, 
.tali-personnel-roster-front-designation td {
	border: 1px solid black;
	border-collapse: collapse;
	border-color: grey;
	height: 25px;
}

.tali-personnel-roster-front-designation th {
	background-color: #575551;
	color: #fff;
}

.tali-personnel-roster-front-designation tr:nth-child(even) {
    background-color: #e4e6e8;
}

/* */

/* TALI Module - Personnel - Roster - Profile */
.tali-personnel-roster-front-profile-top {
	text-align: center;
	vertical-align: center;
	font-size: 150%;
	font-weight: normal;
	font-family: verdana;
	margin-left: auto;
	margin-right: auto;
	width: 98%;
}

.tali-personnel-roster-front-profile-top th {
	border: 1px solid black;
	border-collapse: collapse;
	border-color: grey;
	height: 25px;
	background-color: #575551;
	color: #fff;
}

.tali-personnel-roster-front-profile-body {
	text-align: center;
	vertical-align: center;
	font-size: 80%;
	font-weight: normal;
	font-family: verdana;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 98%;
	border: 1px solid black;
	border-collapse: collapse;
	border-color: grey;
	background-color: #d6d6d6;
}

.tali-personnel-roster-front-profile-body tr, 
.tali-personnel-roster-front-profile-body th, 
.tali-personnel-roster-front-profile-body td {
	border: 1px solid black;
	border-collapse: collapse;
	border-color: grey;
	height: 25px;
}

.tali-personnel-roster-front-profile-body th {
	background-color: #575551;
	color: #fff;
}

.tali-personnel-roster-front-profile-body img {
	margin-top: 5px;
	margin-bottom: 5px;
	max-width: 100%;
	min-width: 20px;
	height: auto;
}

.tali-personnel-roster-front-profile-uniform {
	margin-top: 5px;
	margin-bottom: 5px;
	max-width: 100%;
	height: auto;
}

/* */